/* header section */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2%;
    margin-bottom: 5%;
    border: 1px solid red; /* debugging*/
}

.logo-text {
    display: flex;
    margin: 0;
    font-size: 24px;
    border: 1px solid green; /* debugging*/
}

.header-link-text {
    display: flex;
    border: 1px solid green; /* debugging*/
}

.header-link-text ul {
    display: flex;
    list-style: none; /* Remove default list styles */
    margin: 0;
    padding: 0;
}

.header-link-text li {
    margin-left: 20px;  /* Add some spacing between the links */
}

.header-link-text a {
    text-decoration: none; /* Remove underline from links */
}

/* hero section */

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid red; /* debugging*/
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    border: 1px solid green; /* debugging*/
}

.hero-main-text {
    display: flex;
    margin: 0;
    font: 48px;
    font-weight: 900;
}

.hero-secondary-text {
    display: flex;
    margin-right: 5%;
}

.hero-image {
    display: flex;
    flex: 1;
}

.hero-image img {
    max-height: 200px;
    height: 100%;
    width: auto;
    object-fit: contain;
    margin-left: auto;
}

.info-text,
.info-header {
    color: #1F2937;
}

.info-header {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    border: 1px solid green; /* debugging*/
}

.info-container {
    display: flex;
    align-content: center;
    margin: 0 20%;
    background-color: white;
    border: 1px solid red; /* debugging*/
}

.square-container,
.info-text {
    margin: 2%;
}

.square-container {
    flex: 1 1 150px;
    max-width: 100%;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 25px;
    overflow: hidden;
    margin: 2%;
}
  
.square-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.position-vertical {
  display: flex;
  flex-direction: column;
}

.quote-section {
    background-color: #E5E7EB;
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
  }

.quote-text {
    font-size: 36px;
    color: #1F2937;
}

.quote-signatur {
    font-weight: bold;
    padding-bottom: 5%;
    text-align: end;
}

header,
.footer {
    background-color: #1F2937;
    padding-left: 10%;
    padding-right: 10%;
    border: 1px solid blue; /* debugging*/
}

.hero-secondary-text,
.header-link-text a
 {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-main-text,
.logo-text,
button {
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    height: 40px;
    width: 100px;
    border: 1px solid green; /* debugging*/
    }

.sign-up-container {
    display: block;
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #3882F6;
    border-radius: 8px;
    border: 1px solid red; /* debugging*/
}

.sign-up-field h3 {
    display: flex;
}

.sign-up-field p {
    display: flex;
}

.sign-up-field button {
    display: flex;
    border-radius: 8px;
    border-color: 1px solid #E5E7EB;
}   